.deps/
.vagrant/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
doxygen-doc/
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.c~
*.h~
*.plist
.libs
ChangeLog
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
GPATH
GRTAGS
GTAGS
tmp32/
tmp64/
yubico-piv-tool-*-win32.zip
yubico-piv-tool-*-win32.zip.sig
yubico-piv-tool-*-win64.zip
yubico-piv-tool-*-win64.zip.sig
yubico-piv-tool-*.tar.gz
yubico-piv-tool-*.tar.gz.sig
yubico-piv-tool-*-mac.zip
yubico-piv-tool-*-mac.zip.sig
lib/tests/api
lib/tests/api.log
lib/tests/api.o
lib/tests/api.trs
lib/tests/basic
lib/tests/basic.log
lib/tests/basic.o
lib/tests/basic.trs
lib/tests/parse_key
lib/tests/parse_key.log
lib/tests/parse_key.o
lib/tests/parse_key.trs
lib/tests/test-suite.log
lib/error.lo
lib/error.o
lib/internal.la
lib/internal.lo
lib/internal.o
lib/libykpiv.la
lib/util.la
lib/util.lo
lib/util.o
lib/version.lo
lib/version.o
lib/ykpiv-version.h
lib/ykpiv.lo
lib/ykpiv.o
lib/ykpiv.pc
lib/.libs/
tool/cmdline.c
tool/cmdline.h
tool/cmdline.o
tool/yubico-piv-tool
tool/yubico-piv-tool.1
tool/yubico-piv-tool.o
tool/.libs/
tool/libpiv_cmd.la
tool/libpiv_cmd_la-cmdline.lo
tool/libpiv_cmd_la-cmdline.o
tool/libpiv_util.la
tool/util.lo
tool/util.o
tool/tests/cert_9a.pem
tool/tests/cert_9e.pem
tool/tests/basic.sh.log
tool/tests/basic.sh.trs
tool/tests/key_9a.pub
tool/tests/parse_name
tool/tests/parse_name.log
tool/tests/parse_name.o
tool/tests/parse_name.trs
tool/tests/req_9e.pem
tool/tests/test_inout
tool/tests/test_inout.log
tool/tests/test_inout.o
tool/tests/test_inout.trs
tool/tests/test-suite.log
coverage/
lib/error.gcno
lib/version.gcno
lib/ykpiv.gcno
tool/util.gcno
tool/yubico-piv-tool.gcda
tool/yubico-piv-tool.gcno
ykcs11/.libs/
ykcs11/*.o
ykcs11/*.lo
ykcs11/ykcs11.pc
ykcs11/libykcs11.la
ykcs11/ykcs11-version.h
ykcs11/tests/reset.sh.log
ykcs11/tests/reset.sh.trs
ykcs11/tests/test-suite.log
ykcs11/tests/ykcs11_tests
ykcs11/tests/ykcs11_tests.log
ykcs11/tests/ykcs11_tests.o
ykcs11/tests/ykcs11_tests.trs
yubico-piv-tool.1.txt
