<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductVersion="2.5.1" ?>
  <?define ProductName="Yubico PIV Tool (x86)" ?>

   <Product Id="*" UpgradeCode="1aa2f085-add9-4556-9e21-299b078e6273" Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="Yubico AB" Language="1033">
      <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" Platform="x86" Description="$(var.ProductName) $(var.ProductVersion)" />
      <Media Id="1" Cabinet="yubiopivtool.cab" EmbedCab="yes"/>

      <WixVariable Id="WixUIDialogBmp" Value="..\icons\yubico-msi-background.png" />
      <WixVariable Id="WixUIBannerBmp" Value="..\icons\yubico-msi-y-banner.png" />

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

	  <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
      <Upgrade Id="1aa2f085-add9-4556-9e21-299b078e6273">
      	<UpgradeVersion
              Minimum="1.0.0.0"
              Property="PREVIOUSVERSIONSINSTALLED"
              IncludeMinimum="yes" IncludeMaximum="no" />
      </Upgrade>

      <InstallExecuteSequence>
      	<RemoveExistingProducts Before="InstallInitialize" />
      </InstallExecuteSequence>

      <UI>
          <UIRef Id="WixUI_InstallDir" />
          <Publish Dialog="WelcomeDlg"
            Control="Next"
            Event="NewDialog"
            Value="InstallDirDlg"
            Order="2">1</Publish>
          <Publish Dialog="InstallDirDlg"
            Control="Back"
            Event="NewDialog"
            Value="WelcomeDlg"
            Order="2">1</Publish>
      </UI>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder" Name="PFiles">
            <Directory Id="YubicoDir" Name="Yubico">
                <Directory Id="INSTALLDIR" Name="Yubico PIV Tool">
                </Directory>
            </Directory>
         </Directory>
         <Directory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Yubico PIV Tool"/>
         </Directory>
      </Directory>

   <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="1aa2f085-add9-4556-9e21-299b078e6273">
          <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\Yubico\Yubico PIV Tool" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          <util:RemoveFolderEx Id="Remove" On="install" Property="INSTALLDIR" />
      </Component>
   </DirectoryRef>

      <DirectoryRef Id="TARGETDIR">
        <Merge Id="VCRedist" SourceFile="$(env.MERGEDPATH)" DiskId="1" Language="0"/>
      </DirectoryRef>

      <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
      </Feature>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentGroupRef Id="ApplicationFiles"/>
      </Feature>

      <Feature Id="MainApplication" Title="Main Application" Level="1">
         <ComponentRef Id="ApplicationShortcut" />
      </Feature>

   </Product>
</Wix>