name: MacOS Release
# This workflow is triggered on pushes to the repository. This is machine tests that everything is set for a release
# build. Nothing produced here will be used in the official release but these are the commands that will be used to make
# the release
# The version number in these builds is just an example and is not tied to any specific actual version

on: [push]

jobs:

  job_1:
    name: Build dist with Linux
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Install prerequisites
        run: |
          sudo apt install libpcsclite-dev check gengetopt help2man
      - name: Create tar.gz
        run: |
          ./resources/make_src_dist.sh 2.1.1
          cd ..
          mkdir artifact
          mv $GITHUB_WORKSPACE/yubico-piv-tool-2.1.1.tar.gz artifact/
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: yubico-piv-tool-src
          path: ../artifact

  job_2:
    name: Build pkg from source
    needs: job_1
    runs-on: macos-latest
    steps:
      - name: Download source from job_1
        uses: actions/download-artifact@v1
        with:
          name: yubico-piv-tool-src

      - name: Extract source
        run: |
          echo "cd yubico-piv-tool-src"
          cd yubico-piv-tool-src

          echo "tar xf yubico-piv-tool-2.1.1.tar.gz"
          tar xf yubico-piv-tool-2.1.1.tar.gz

      - name: Install prerequisites
        run: |
          echo brew install pkg-config check gengetopt help2man
          brew install pkg-config check gengetopt help2man

      - name: Build MacOS binaries
        run: |
          export RELEASE_VERSION=2.1.1
          export INSTALL_PREFIX=/usr/local

          echo "cd yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERSION"
          cd yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERSION
          ./resources/macos/make_release_binaries.sh $RELEASE_VERSION 1 $INSTALL_PREFIX
          mkdir resources/macos/artifact
          mv resources/macos/yubico-piv-tool-$RELEASE_VERSION-mac.zip resources/macos/artifact/

      - name: Create installer
        run: |
          export RELEASE_VERSION=2.1.1

          echo "cd yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERSION"
          cd yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERSION
          ./resources/macos/make_installer.sh $RELEASE_VERSION $GITHUB_WORKSPACE/yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERSION/resources/macos/artifact/yubico-piv-tool-$RELEASE_VERSION-mac.zip

      - name: Install yubico-piv-tool from installer
        run: |
          export RELEASE_VERISON=2.1.1

          echo "cd yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERISON/resources/macos"
          cd yubico-piv-tool-src/yubico-piv-tool-$RELEASE_VERISON/resources/macos
          sudo installer -verbose -store -pkg "$PWD/yubico-piv-tool-$RELEASE_VERION.pkg" -target /
          yubico-piv-tool --help | grep "Usage: yubico-piv-tool"

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: yubico-piv-tool-mac
          path: yubico-piv-tool-src/yubico-piv-tool-2.1.1/resources/macos/artifact
