name: Windows Release
# This machine tests building the software on a both 32 and 64 Windows architecture.
# The binaries used on the official release are also produced here and are downloadable as artifacts
# Since this is where the release binaries are build, make sure to update the version number in this file. Search for
# the 'RELEASE_VERSION' variable and update its value wherever its found

on: [push]

jobs:

  job_1:
    name: Build dist with Linux
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Install prerequisites
        run: |
          sudo apt install libpcsclite-dev check gengetopt help2man
      - name: Create tar.gz
        run: |
          export RELEASE_VERSION=2.1.1

          ./resources/make_src_dist.sh $RELEASE_VERSION
          cd ..
          mkdir artifact
          mv $GITHUB_WORKSPACE/yubico-piv-tool-$RELEASE_VERSION.tar.gz artifact/
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: yubico-piv-tool-src
          path: ../artifact

  job_2:
    name: Build Windows x86
    needs: job_1
    runs-on: windows-latest
    steps:
      - name: Download source from job_1
        uses: actions/download-artifact@v1
        with:
          name: yubico-piv-tool-src

      - name: Extract source
        run: |
          $RELEASE_VERSION="2.1.1"

          echo "cd yubico-piv-tool-src"
          cd yubico-piv-tool-src

          echo "tar xf yubico-piv-tool-$RELEASE_VERSION.tar.gz"
          tar xf yubico-piv-tool-$RELEASE_VERSION.tar.gz

      - name: install prerequisites for x86 architecture
        run: |
          echo "choco install visualstudio2019community --package-parameters '--add Microsoft.VisualStudio.Component.VC.Redist.MSM'"
          choco install visualstudio2019community --package-parameters "--add Microsoft.VisualStudio.Component.VC.Redist.MSM"

      - name: Make release binaries
        run: |
          $RELEASE_VERSION="2.1.1"

          $PIVTOOL_SRC_DIR="$env:GITHUB_WORKSPACE\yubico-piv-tool-src\yubico-piv-tool-$RELEASE_VERSION"

          echo "$PIVTOOL_SRC_DIR/resources/win"
          cd $PIVTOOL_SRC_DIR/resources/win

          echo "./make_release_binaries.ps1 $RELEASE_VERSION Win32 C:/vcpkg"
          ./make_release_binaries.ps1 $RELEASE_VERSION Win32 C:/vcpkg

          cd $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x86/bin
          ./yubico-piv-tool.exe --version
          ./yubico-piv-tool.exe --help

          mkdir $env:GITHUB_WORKSPACE/artifact
          cp -r $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x86 $env:GITHUB_WORKSPACE/artifact/

      - name: Create Windows Installer
        run: |

          $RELEASE_VERSION="2.1.1"

          $PIVTOOL_SRC_DIR="$env:GITHUB_WORKSPACE\yubico-piv-tool-src\yubico-piv-tool-$RELEASE_VERSION"
          $MERGEDPATH = Get-ChildItem "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.*\MergeModules\Microsoft_VC142_CRT_x86.msm"

          echo "$PIVTOOL_SRC_DIR/resources/win"
          cd $PIVTOOL_SRC_DIR/resources/win

          echo "./make_installer.ps1 $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x86 $RELEASE_VERSION x86 $env:WIX\bin $MERGEDPATH"
          ./make_installer.ps1 $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x86 $RELEASE_VERSION x86 $env:WIX\bin "$MERGEDPATH"

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: yubico-piv-tool-win32
          path: artifact

  job_3:
    name: Build Windows x64
    needs: job_1
    runs-on: windows-latest
    steps:
      - name: Download source from job_1
        uses: actions/download-artifact@v1
        with:
          name: yubico-piv-tool-src

      - name: Extract source
        run: |
          $env:RELEASE_VERSION="2.1.1"

          echo "cd yubico-piv-tool-src"
          cd yubico-piv-tool-src

          echo "tar xf yubico-piv-tool-$env:RELEASE_VERSION.tar.gz"
          tar xf yubico-piv-tool-$env:RELEASE_VERSION.tar.gz

      - name: Install prerequisites for x64 architecture
        run: |
          echo "choco install visualstudio2019community --package-parameters '--add Microsoft.VisualStudio.Component.VC.Redist.MSM'"
          choco install visualstudio2019community --package-parameters "--add Microsoft.VisualStudio.Component.VC.Redist.MSM"

      - name: Make release binaries
        run: |
          $RELEASE_VERSION="2.1.1"

          $PIVTOOL_SRC_DIR="$env:GITHUB_WORKSPACE\yubico-piv-tool-src\yubico-piv-tool-$RELEASE_VERSION"

          echo "$PIVTOOL_SRC_DIR/resources/win"
          cd $PIVTOOL_SRC_DIR/resources/win

          echo "./make_release_binaries.ps1 $RELEASE_VERSION x64 C:/vcpkg"
          ./make_release_binaries.ps1 $RELEASE_VERSION x64 C:/vcpkg

          cd $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x64/bin
          ./yubico-piv-tool.exe --version
          ./yubico-piv-tool.exe --help

          mkdir $env:GITHUB_WORKSPACE/artifact
          cp -r $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x64 $env:GITHUB_WORKSPACE/artifact/

      - name: Create Windows Installer for x64 architecture
        run: |

          $RELEASE_VERSION="2.1.1"

          $PIVTOOL_SRC_DIR="$env:GITHUB_WORKSPACE\yubico-piv-tool-src\yubico-piv-tool-$RELEASE_VERSION"
          $MERGEDPATH = Get-ChildItem "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.26.28720\MergeModules\Microsoft_VC142_CRT_x64.msm"

          echo "$PIVTOOL_SRC_DIR/resources/win"
          cd $PIVTOOL_SRC_DIR/resources/win

          echo "./make_installer.ps1 $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x64 $RELEASE_VERSION x64 $env:WIX\bin $MERGEDPATH"
          ./make_installer.ps1 $PIVTOOL_SRC_DIR/yubico-piv-tool-$RELEASE_VERSION-x64 $RELEASE_VERSION x64 $env:WIX\bin "$MERGEDPATH"

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: yubico-piv-tool-win64
          path: artifact